#game-canvas {
  background: url("/images/grass-background.jpg");
  background-size: cover;
  cursor: url("/images/mallet.png") 40 30, auto;
  border-radius: 10px;
}

#game-canvas:active {
  cursor: url("/images/mallet-hit.png") 40 30, auto;
}

body {
  padding: 2% 0;
  text-align: center;
}

html::after {
  background-image: url("/images/background.jpg");
  background-size: cover;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.45;
}

body button {
  font-size: 30px;
  background-color: brown;
  color: #fff;
  padding: 2% 4%;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin: 2%;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
/*
#game-board {
  float: left;
} */

#outside-of-canvas p {
  font-size: 16px;
  font-family: "Verdana";
}

h1 {
  padding: 1% 0;
  font-family: "Verdana";
}

ul {
  background-color: rgba(22, 133, 10, 0.8);
  margin: 0 30%;
  margin-top: 1%;
  border-radius: 10px;
  text-align: left;
}
li {
  margin-bottom: 20px;
}
